site_name: Klipper pour FLSUN Super Racer
site_description: Documentation

repo_name: Téléchargement du Pack
repo_url: https://github.com/Guilouz/Klipper-Flsun-Super-Racer/releases

theme:
    name: material
    language: fr
    logo: img/logo.png
    favicon: img/favicon.png
    icon:
        repo: material/download
    font:
        text: Roboto
        code: Roboto Mono
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: green
          accent: light green
          toggle:
            icon: material/brightness-7
            name: Dark Mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: green
          accent: light green
          toggle:
            icon: material/brightness-4
            name: Light Mode
    features:
        - content.code.copy
        - content.code.annotate
        - navigation.top
        - navigation.sections
        - search.highlight
        - search.share
        - search.suggest
extra_css:
    - stylesheets/extra.css
plugins:
    - search
copyright: Guislain Cyril &copy; 
extra:
  generator: false
  social:
    - icon: fontawesome/brands/cc-paypal
      link: https://www.paypal.me/CyrilGuislain
    - icon: simple/discord
      link: https://discord.gg/5gzXKdpX
    - icon: simple/tiktok
      link: https://tiktok.com/@guilouz
    - icon: simple/twitter
      link: https://twitter.com/Guilouz
markdown_extensions:
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
    - Informations: index.md
    - Liens Utiles: liens-utiles.md
    - Changelog: changelog.md
    - Installation:
        - Pré-Requis: installation/pre-requis.md
        - MainsailOS: installation/mainsailos.md
        - Connexion SSH: installation/connexion-ssh.md
        - Dépendances: installation/dependances.md
    - Configurations:
        - Récupération du Serial USB: configurations/recuperation-du-serial-usb.md
        - Fichiers de Configuration: configurations/fichiers-de-configuration.md
        - Changements coté Slicers:
            - GCode de Début / Fin: configurations/gcode-de-debut-fin.md
            - Rétraction Firmware: configurations/retraction-firmware.md
        - Ecran avec KlipperScreen: 
            - Raspberry Pi Touch Display: ecran/raspberry.md
            - Waveshare 7inch Capacitive Touch Screen: ecran/waveshare.md
        - ADXL: configurations/adxl.md
        - NeoPixels: configurations/neopixels.md
    - Firmwares Klipper:
        - MKS Robin Nano v3.x:
            - Compilation: firmwares/compilation-mks-robin-nano.md
            - Installation: firmwares/installation-mks-robin-nano.md
        - BigTreeTech SKR 1.3:
            - Compilation: firmwares/compilation-btt-skr1.3.md
            - Installation: firmwares/installation-btt-skr1.3.md
        - BigTreeTech SKR 2.0:
            - Compilation: firmwares/compilation-btt-skr2.0.md
            - Installation: firmwares/installation-btt-skr2.0.md
    - Explications des fichiers: explications-des-fichiers.md
    - Calibrations: calibrations.md
    - Thème Mainsail: theme-mainsail.md
    - Support: support.md
