site_name: FLSUN Speeder Pad
site_description: Documentation

repo_name: Configurations Pack
repo_url: https://github.com/Guilouz/Klipper-Flsun-Speeder-Pad/releases

theme:
    name: material
    language: fr
    logo: assets/img/logo.png
    favicon: assets/img/favicon.png
    icon:
        repo: material/download
    font:
        text: Roboto
        code: Roboto Mono
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: blue
          accent: blue
          toggle:
            icon: material/brightness-7
            name: Dark Mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: blue
          accent: blue
          toggle:
            icon: material/brightness-4
            name: Light Mode
    features:
        - content.code.copy
        - content.code.annotate
        - navigation.top
        - navigation.indexes
        - navigation.sections
        - search.highlight
        - search.share
        - search.suggest
extra_css:
    - ./assets/stylesheets/extra.css
    - ./assets/stylesheets/glightbox.min.css
extra_javascript:
    - ./assets/javascripts/glightbox.min.js
plugins:
    - search
    - glightbox:
        touchNavigation: true
        loop: false
        effect: zoom
        slide_effect: slide
        width: 100%
        height: auto
        zoomable: true
        draggable: true
        skip_classes:
            - zoom-off
        auto_caption: false
        caption_position: bottom
copyright: Guislain Cyril &copy; All rights reserved
extra:
  generator: false
  social:
    - icon: fontawesome/brands/cc-paypal
      link: https://www.paypal.me/CyrilGuislain
    - icon: simple/discord
      link: https://discord.gg/5gzXKdpX
    - icon: simple/tiktok
      link: https://tiktok.com/@guilouz
    - icon: simple/twitter
      link: https://twitter.com/Guilouz
markdown_extensions:
    - attr_list
    - md_in_html
    - meta
    - tables
    - def_list
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
    - About: index.md
    - Useful links: useful-links.md
    - Changelog: changelog.md
    - Restoration:
        - Prerequisites: restoration/prerequisites.md
        - Prepare microSD card: restoration/prepare-microsd-card.md
        - Restore Speeder Pad: restoration/restore-speeder-pad.md
        - Configure WiFi: restoration/configure-wifi.md
        - SSH connection: 
            - Windows: restoration/ssh/windows.md
            - macOS: restoration/ssh/macos.md
        - Update OS: restoration/update-os.md
        - Change Timezone: restoration/change-timezone.md
        - Change WiFi location: restoration/change-wifi-location.md
    - Installation:
        - Delete Flsun builds: installation/delete-flsun-builds.md
        - Install official builds:
            - Single Instance: installation/single-instance.md
            - Multiple Instance: installation/single-instance.md
    - Klipper Firmwares:
        - V400:
            - MKS Robin Nano v2.x: firmwares/mks-robin-nano-v2x.md
            - BigTreeTech SKR 3.0: firmwares/bigtreetech-skr-3.0.md
        - Super Racer:
            - MKS Robin Nano v3.x: firmwares/mks-robin-nano-v3x.md
            - BigTreeTech SKR 1.3: firmwares/bigtreetech-skr-1.3.md
            - BigTreeTech SKR 2.0: firmwares/bigtreetech-skr-2.0.md
    - Configuration:
        - Recover USB serial: configuration/recover-usb-serial.md
        - Installing files:
            - Single Instance: configuration/single-instance.md
            - Multiple Instance: configuration/single-instance.md
        - Slicers side changes:
            - Start / End GCode: configuration/start-end-gcode.md
            - Firmware Retraction: configuration/firmware-retraction.md
            - Send Gcode to Mainsail: configuration/send-gcode-to-mainsail.md
        - ADXL:
            - Raspberry Pi Pico: configuration/raspberry-pi-pico.md
            - Fysetc Portable Input Shaper: configuration/fysetc-portable-input-shaper.md
        - Webcams support: configuration/webcams-support.md
        - Timelapse support: configuration/timelapse-support.md
        - NeoPixels: configuration/neopixels.md
        - Mainsail theme : configuration/mainsail-theme.md
    - Printer Calibrations: 
        - Extruder calibration: calibrations/extruder-calibration.md
        - PID calibration: calibrations/pid-calibration.md
        - Z-Offset measurement: calibrations/zoffset-measurement.md
        - EndStops calibration: calibrations/endstops-calibration.md
        - Delta automatic calibration: calibrations/delta-automatic-calibration.md
        - Bed leveling: calibrations/bed-leveling.md
        - Input Shaping: calibrations/input-shaping.md
        - Pressure Advance: calibrations/pressure-advance.md
        - Explanations of files: calibrations/explanations-of-files.md
    - Special Thanks: special-thanks.md
