.md-nav__title {
    	color: #09991c;
}

.md-nav__item--section>.md-nav__link[for] {
    color: #09991c;
}

[data-md-color-scheme="youtube"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}